{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article class="hentry" role="article">

        {{ .Scratch.Set "isHome" false }}
        {{ partial "post_header.html" . }}

        <div class="entry-content">
          <!-- insert table of contents if it is set either in the config file or in the frontmatter - frontmatter has priority -->
          {{ $.Scratch.Set "pagetoc" .TableOfContents }}
          <!-- the isset here is working properly becasue everything is lower case -->
          {{ if or (and (isset .Params "toc") (eq .Params.toc true)) (and (not (isset .Params "toc")) (eq .Site.Params.tableOfContents true)) }}
            {{ $.Scratch.Get "pagetoc" }}
          {{ end }}
          {{ .Content }}
         <br />
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>进行许可。
        </div>
        {{ partial "post_footer.html" . }}
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>


{{ partial "footer.html" . }}
